*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conteiner{
    width: 1110px;
    height: 349px;
    background-color: #121212;
    border-radius: 15px;
    display: flex;
    
    
    gap: 140px;
    
}
.buyukYazi{
    width: 426px;
   margin-top: 83px; 
   margin-left: 96px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.btn{
    width: 280px ;
    height: 64px;
    background-color: #DC3545;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: white;
    /* display: flex; */
    align-items: center;
}